{% extends 'base.html.twig' %}

{% block title %}Lavori index{% endblock %}

{% block body %}
    <h1>Lavori index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Specialista</th>
                <th>Intervento</th>
                <th>Prezzo</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lavori in lavoris %}
            <tr>
                <td>{{ lavori.id }}</td>
                <td>{{ lavori.specialista }}</td>
                <td>{{ lavori.intervento }}</td>
                <td>{{ lavori.prezzo }}</td>
                <td>{{ lavori.note }}</td>
                <td>
                    <a href="{{ path('app_lavori_show', {'id': lavori.id}) }}">show</a>
                    <a href="{{ path('app_lavori_edit', {'id': lavori.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_lavori_new') }}">Create new</a>
{% endblock %}
