{% extends 'base.html.twig' %}

{% block title %}Preventivi{% endblock %}

{% block body %}
<div class="w-50 ms-5">

<h1>Preventivo {{ preventivo.id }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nome</th>
                <td>{{ preventivo.nome }}</td>
            </tr>
            <tr>
                <th>Completo</th>
                <td>{{ preventivo.complete ? 'Si' : 'No' }}</td>
            </tr>
			<tr>
                <th>Lavori <a href="{{ path('app_lavori_new', {'id': preventivo.id}) }}">+</a></th>
				{% if lavori.count() > 0 %}
					{% for lavoro in lavori %}
						<tr>
							<td>{{ lavoro.specialista }}: {{ lavoro.intervento }}</td>
							<td>Prezzo: {{ lavoro.prezzo}}</td>
							{% if lavoro.isSaldato %}
							<td>Saldato</td>
							{% else %}
							<td>Pagati: {{ lavoro.pagati }}</td>
							{% endif %}
						</tr>
					{% endfor %}
					<td>Sub Totale Lavori: {{ preventivo.getTotalPriceLavori }}</td>
					{% if preventivo.getRestantiLavori == 0 %}
					<td>Saldato</td>
					{% else %}
					<td>Da pagare: {{ preventivo.getRestantiLavori }}</td>
					{% endif %}
				{% else %}
					<tr>
						<td>Nessun lavoro per questo preventivo</td>
					</tr>
				{% endif %}
            </tr>
			<tr>
                <th>Arredi e Materiali <a href="{{ path('app_materiali_arredi_new', {'id': preventivo.id}) }}">+</a></th>
				{% if materiali.count() > 0 %}
					{% for mat in materiali %}
						<tr>
							<td>{{ mat.tipologia }}</td>
							<td>Prezzo: {{ mat.prezzo }}</td>
							{% if mat.isSaldato %}
							<td>Saldato</td>
							{% else %}
							<td>Pagati: {{ mat.pagati }}</td>
							{% endif %}
						</tr>
					{% endfor %}
					<td>Sub Totale Materiali e Arredi: {{ preventivo.getTotalPriceMateriali }}</td>
					{% if preventivo.getRestantiMateriali == 0 %}
					<td>Saldato</td>
					{% else %}
					<td>Da pagare: {{ preventivo.getRestantiMateriali }}</td>
					{% endif %}
				{% else %}
					<tr>
						<td>Nessun Materiale o Arredo per questo preventivo</td>
					</tr>
				{% endif %}
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
