{% extends 'base.html.twig' %}

{% block title %}Preventivo index{% endblock %}

{% block body %}
    <h1>Preventivo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Complete</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preventivo in preventivos %}
            <tr>
                <td>{{ preventivo.id }}</td>
                <td>{{ preventivo.nome }}</td>
                <td>{{ preventivo.complete ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_preventivo_show', {'id': preventivo.id}) }}">show</a>
                    <a href="{{ path('app_preventivo_edit', {'id': preventivo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_preventivo_new') }}">Create new</a>
{% endblock %}
